<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452401272553-qjfn790dfb4629dfrvqsorkbi48b7ran.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452401272553-qjfn790dfb4629dfrvqsorkbi48b7ran</string>
	<key>API_KEY</key>
	<string>AIzaSyAkt_KDZ551rSkuOPgaLbYJ5krZvtoT-wI</string>
	<key>GCM_SENDER_ID</key>
	<string>452401272553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nadav.AuthenticationAndNavigation184</string>
	<key>PROJECT_ID</key>
	<string>auth-e7d38</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-e7d38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452401272553:ios:c1540beb491d5580ae4278</string>
</dict>
</plist>